body {
    margin: 0%;
}
#top {
    background-color: #EFC9AD;
    height: 100px;
    padding-top: 1px;
}
#header {
    margin-left: 2%;
}
#header-logo {
    width: 7%;
    height: 7%;
    float: left;
    margin-right: 2%;
}
#header-title {
    text-align: center;
    margin: 0%;
    float: left;
}
#navi{
    list-style: none;
    padding-top: 20px;
}
.navi-cont {
    float: left;
    margin-left: 7%;
    margin-right: 7%;
}

